<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Welcome to financial planncer!</title>
    <title>Hi, </title>
</head>
<body>
<div th:replace="~{header :: navbar}"></div>
<div class="container">
    <form action="add_balance/" method="POST">
        <div class="form-group">
            <select class="custom-select" name="accountId" >
                <option selected>Choose an account</option>
                <option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.name}"> </option>
            </select>
        </div>
        <div class="form-row">
            <div class="form-group col-md-10">
                <label for="amount">Input amount</label>
                <input type="number" class="form-control" name="amount" id="amount">
            </div>
            <div class="fomr-group col-md-2">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="balanceType" value="income" checked> Income
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="balanceType" value="expense"> Expense
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="shortDescription">Short description</label>
            <input type="text" class="form-control" id="shortDescription" name="shortDescription">
        </div>
        <div class="form-group">
            <div class="submit btn">
                <button type="submit" class="btn btn-primary btn-block">Add Balance</button>
            </div>
        </div>

    </form>


</div>
<div th:replace="~{scripts :: scripts}"></div>
</body>
</html>
