<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Welcome to financial planner!</title>
    <title>Hi, </title> <!-- name -->
</head>
<body>
<div th:replace="~{header :: navbar}"></div>
<div class="container">
    <h3>Welcome to financial planner!</h3>
    <h3>Hello,</h3>
    <h1 th:text="${user.name}"></h1>
    <form action="/account/add_account" method="POST">
        <div class="form-group">
            <label for="accountNameInput">Input Savings Account Name</label>
            <input type="text" class="form-control" id="accountNameInput" name="accountName">
        </div>
        <div class="form-group">
            <label for="thresholdInput">Input Threshold</label>
            <input type="number" class="form-control" id="thresholdInput" name="threshold">
        </div>
        <div class="form-group">
            <label for="shortDesc">Short Description</label>
            <input type="text" class="form-control" id="shortDesc" name="shortDesc">
        </div>
        <button type="submit" class="btn btn-primary">Create Savings Account!</button>
    </form>
    <br>
    <br>
    <div th:each="account : ${user.accounts}">
            <div class="jumbotron">
            <h1 class="display-4" th:text="${account.name}"> Title </h1>
                <div class="alert alert-danger" th:if="${account.balance < account.threshold}" role="alert">
                    the amount of balance you currently have is below the threshold
                </div>
            <h1 class="display-4" th:text="${account.balance}"> Balance </h1>
            <p class="lead" th:with="result=${account.balance - account.threshold}" th:text="${result}"> threshold </p>
            <p th:text="${account.shortDesc}"> Author </p>
            <a class="btn btn-primary btn-lg" th:href="${account.id}" role="button">Check History</a>
        </div>
    </div>


</div>
<div th:replace="~{scripts :: scripts}"></div>
</body>
</html>
