<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Welcome to financial planner!</title>
    <title>Hi, </title>
</head>
<body>
<div th:replace="~{header :: navbar}"></div>

<div class="container">
    <h1 th:text="${account.name}"></h1>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="history : ${account.history}">
            <td th:text="${history.amount}"></td>
            <td th:text="${history.description}"></td>
            <td th:text="${history.createdAt}"></td>
        </tr>
        </tbody>
    </table>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">Current Balance</th>
            <th scope="col">Threshold</th>
            <th scope="col">Balance to Threshold</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${account.balance}"></td>
            <td th:text="${account.threshold}"></td>
            <td th:with="result=${account.balance - account.threshold}" th:text="${result}"></td>
        </tr>
        </tbody>
    </table>

</div>
<div th:replace="~{scripts :: scripts}"></div>
</body>
</html>
